//- User pug layout
doctype
html(lang="fa")
    head
        meta(chaset="utf-8")
        title=title
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css" )
    body
    header(class="jumbotron text-center")
        h1 User Blog Dashboard
    div(class="container")
        block content
